<!-- <p><b>Priority:</b> {{ priority }}</p>
<p><b>Auto Reply:</b> {{ reply }}</p> -->
<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <div class="result-box">
    <p><b>Email:</b> {{ email }}</p>
    <p><b>Category:</b> {{ category }}</p>
    <p><b>Sentiment:</b> {{ sentiment }}</p>
    <p><b>Priority:</b> {{ priority }}</p>
    <p><b>Auto Reply:</b> {{ reply }}</p>
</div>
    <!-- <h2>Email Analysis Result</h2>
    <p><b>Email:</b> {{ email }}</p>
    <p><b>Category:</b> {{ category }}</p>
    <p><b>Sentiment:</b> {{ sentiment }}</p> -->

    <a href="/">Analyze Another Email</a>
</body>
</html>

