<!-- <p><b>Priority:</b> {{ priority }}</p>
<p><b>Auto Reply:</b> {{ reply }}</p> -->
<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="container">
    <h1>Email Analysis Result</h1>

    <p><b>Email:</b> {{ email }}</p>
    <p><b>Category:</b> {{ category }}</p>
    <p><b>Sentiment:</b> {{ sentiment }}</p>
    <p><b>Priority:</b> {{ priority }}</p>
    <p><b>Auto Reply:</b> {{ reply }}</p>

    <a href="/" style="display:block;text-align:center;margin-top:15px;color:#667eea;">
    Analyze Another Email
</a>
</div>
    
</body>
</html>

